
/* ---- header ---------- */
.header {
}

.header__contant {
   display: grid;
   grid-template-columns: repeat(2, auto);
   justify-content: space-between;
   justify-items: center;
   align-items: center;
   min-height: 60px;
   padding-block: 12px;
   column-gap: 10px;
   opacity: 0.9;

   grid-template-areas: 'logo actions';
   color: #505F98;
}
.header__menu {
}      
.header__logo {
   grid-area: logo;
}
.header__actions {
   grid-area: actions;
   display: grid;
   grid-template-columns: auto auto;
   column-gap: 10px;
}
.header__button {
}
.header__icon {
}

@media (max-width: 767.98px) {
/* ------- burger --------- */

.icon-menu {
   display: flex;
   flex-basis: 30px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   padding: 8px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 6px;
   background-color: #111847;
}

.icon-menu span {
   margin-block: 6px;
}
.icon-menu span,
.icon-menu::before,
.icon-menu::after{
   content: "";
   height: 2px;
   width: 18px;
   background-color: #ffffff;
   transition: all 0.3s;
}
.menu__body {
   position: fixed;
   inset-inline-start: 100%;
   inset-block-start: 0;
   inline-size: 100%;
   block-size: 100%;
   /* z-index: 4; */

   transition: inset-inline-start 0.3s;
   overflow: auto;
   padding: 100px 15px 30px;
   background-color: #8897f8;
}
.menu__body::before {
   content: "";
   position: fixed;
   block-size: 80px;
   inline-size: 100%;
   inset-inline-start: 100%;
   inset-block-start: 0;
   
   background-color: #111847;
   z-index: 3;
   transition: insert-inline-start 0.3s;
}
.menu__list {
   display: flex;
   flex-direction: column;
   border: none;
   background-color: rgba(40, 41, 62, 0.95);
   background-color: transparent;
   align-items: flex-end;
   row-gap: 25px;
   padding-block: 25px;
}
.menu__link {
   font-size: 24px;
   font-weight: 700;
   padding: 0;
   color: #ffffff;
}
.menu__link.active {
   text-decoration: underline;
   background-color: transparent;
}
.open-menu body {
   overflow: hidden;
}
.open-menu .menu__body,
.open-menu .menu__body::before {
   inset-inline-start: 0;
}

.open-menu .icon-menu span {
   width: 0;
   height: 0;
   margin: 0;
}
.open-menu .icon-menu::before {
   transform: rotate(45deg) translateY(1.5px);
}
.open-menu .icon-menu::after {
   transform: rotate(-45deg) translateY(-1.5px);
}
.open-menu .logo-header__name {
   color: rgba(255, 255, 255, 0.6);
}
}
/* -------------------------------------------- */
.header__actions {
   /* gap: 5px; */
}
.header__logo {
	justify-self: start;
	}
/* -------------------------------------------- */
   @media (min-width: 768px) {
      .header {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         z-index: 500;
      }
      .icon-menu {
         display: none;
      }
      .header__contant {
         display: grid;
         grid-template-columns: 1.2fr 1fr 1fr;
         justify-content: space-between;
         grid-template-areas: "menu logo actions";
      }

      .header__menu {
         grid-area: menu;
         justify-self: start;
         background-color: #ffffff;
      }      
      .header__logo {
         grid-area: logo;
         justify-self: center;
      }
      .header__actions {
         grid-area: actions;
         justify-self: end;
      }
/* ------------menu------------------ */
      .menu {
      }
      .menu__body {
      color: #505F98;
      padding: 18px;

      }
      .menu__list {
         display: flex;
         flex-wrap: wrap;
         column-gap: 10px;
         row-gap: 3px;
         justify-content: space-between;
      }
      .menu__item {
         text-align: center;
      }
      .menu__item.item-none {
         display: none;
      }

      .menu__link {
         position: relative;
         color: #505F98;
         line-height: 1;
         padding: 6px 10px;
         align-items: center;
      
         transition: 
            background-color 0.3s,
            color 0.3s;
      }
      .menu__link::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 0%;
         height: 1px;
         background-color: #111847;
         transition: width 0.3s ease;
      }
   }
   /* ----------------logo---------------------- */
   .header__logo {
   max-width: 100%;
   position: relative;
   z-index: 5;
   display: grid;
   grid-template-columns: auto auto auto;
}
.logo-header {
   padding: 5px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 6px;
   border-color: transparent;
   transition: color 0.3s;
   line-height: 1.33333;
}

.logo-header__name {
   position: relative;
   color: #37447E;
   font-size: 26px;
   font-weight: 900;
   line-height: 1.11111;
   letter-spacing: -2px;
   gap: 10px;   
   align-items: center;
}

/* -------------------------------- */
.header__actions {
}
.header__button {
   background-color: #111847;
   color: #ffffff;
   min-width: 160px;
   font-size: 12px;
   font-weight: 500;
   line-height: 1.5; 
   padding-block: 8px;
}

@media (any-hover: hover) {
   .header__logo:hover,
   .header__logo span:hover {
      color: #111847;
      transition: all  0.5s;
      padding-inline: 10px;
   }
   .menu__link:hover {
      color: #111847;
      font-weight: 500;
      transition: font-weight 0.3s;
   }
   .menu__link:hover::after {
      width: 100%;
   }
   .header__button:hover {
      color: #ffffff;
      border-color: #37447E;
      background: #505F98;
      transition: all 0.3s;
   }
}

.menu__link.active{
   color: #37447E;
}


/* ------------- */
/* --- main --- */
/* ------------- */



/* ------------------------------- */
/* --- media  min-width: 980px --- */
/* ------------------------------- */

@media (min-width: 980px) {
   .actions-header {
      /* flex-basis: 10px; */
   }
}

@media (min-width: 1024px) {
   .header__contant {
      /* padding-inline: 165px; */
   }
   .menu__link {
      /* padding: 6px; */
   }

}


/* ------------------footer----------------- */
.footer {
   padding-block: 32px 32px;
   background-color: #e7ecff;
   z-index: 2;
 } 
.footer__container {
}
.footer__top {
   display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 15px;
	border-block-end: 1px solid #cdd1d4;

   margin-block-end: 20px;
}
.footer__copyright {
   color: #939EA4;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7;
	justify-self: center;
   align-self: center;
}
.footer__logo {
   color: #37447E;
	font-size: 26px;
	font-weight: 900;
	line-height: 1.5;
}
.footer__botton {
   justify-self: end;
   font-size: 12px;
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
   align-self: center;
   padding-block: 5px;
}

.footer__body {
   display: flex;
   flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}
.menu-footer__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 5px;
}
.menu-footer__link {
   position: relative;
	color: #929ECC;
	font-size: 14px;
	line-height: 1.7;
   align-items: center;
   transition: 
      background-color 0.3s,
      color 0.3s;
}
.menu-footer__link::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0%;
   height: 1px;
   background-color: #111847;
   transition: width 0.3s ease;
}
/* ---------------------------------- */
.footer__socials {
   display: flex;
   column-gap: 30px;
   align-items: center;
}
.social__link {
   width: 16px;
   transition: all 0.3s;
}
.social__link img {
   aspect-ratio: 1;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
@media (any-hover: hover){
   .footer__logo:hover {
      color: #000;
      transition: all  0.5s;
      padding-inline: 10px;
   }
	.menu-footer__link:hover{
		color: #091133;
      transition: font-weight 0.3s;
	}
   .menu-footer__link:hover::after {
      width: 100%;
   }
   .social__link:hover{
      box-shadow: 0px 0px 15px #15215639;
      border-radius: 50%;
      background-color:  #15215614;
   }
}

@media (min-width: 480px) {
   .footer__top {
      grid-template-columns: 1fr auto 1fr;
   }
   .footer__copyright {
      justify-self: start;
   }
   .footer__botton .section-heading__button{
      max-width: 109px;
      font-size: 10px;
   }
   .footer__body {
      flex-direction: row;
   }
   
}
