@font-face {
   font-family: "Ermilov";
   src:
      url("../fonts/Ermilov-Bold.woff2") format("woff2"),
      url("../fonts/Ermilov-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Roboto";
   src: url(../fonts/Roboto-Regular.woff2);
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Roboto";
   src: url(../fonts/Roboto-Medium.woff2);
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Cormorant";
   src: url(../fonts/Cormorant-Italic.woff2);
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Cormorant";
   src: url(../fonts/Cormorant-Regular.woff2);
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Cormorant";
   src: url(../fonts/Cormorant-Bold.woff2);
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
