.header {
   position: sticky;
	top: 0;
	z-index: 50;
	background-color: var(--colorWhite);
}
.header__container {
   display: grid;
   grid-template-columns: repeat(2, auto);
   justify-content: space-between;
   /* justify-items: center; */
   align-items: center;
   min-height: 3.75rem;
   padding-block: 0.625rem;
   column-gap: 0.75rem;
   opacity: 0.9;
  
   grid-template-areas: 'logo actions';
   color: var(--colorGray900);
}
/* ----------------logo---------------------- */
.header__logo {
   grid-area: logo;
   z-index: 5;   
   position: relative;
   justify-self: start;

   display: grid;
   grid-template-columns: repeat(2, auto);
   column-gap: 0.75rem;
   align-items: center;

   color: var(--colorGray900);
   padding-block: 0.5rem;

}
.header__logo::before {
   content: "B";
   color: var(--colorWhite);
   font-family: Poppins;
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 2.333;
   text-align: center;
   height: 3.5rem;
   width: 3.5rem;
   border-radius: 50%;
   background-color: var(--colorPrimary500);
}
.logo-header__name {
   position: relative;
   font-weight: 600;
   /* value(20px - 32px); vieport(320 - 1000) */
   /* 20 - 32 px ; 320 - 1000 ; 40/32*/
   font-size: clamp(1.25rem, 0.897rem + 1.76vw, 2rem);
   line-height: 1.25;
   gap: 0.625rem;   
   align-items: center;
} 
/* ----------------actions---------------------- */
.header__actions {
   grid-area: actions;
   display: grid;
   grid-template-columns: repeat(2, auto);
   column-gap: 0.625rem;
   z-index: 5;
}
.header__button {
   /* display: none; */
}
.menu__item--none {
}

   /* ------- burger --------- */
   @media (max-width: 47.9988rem) {
   
   .icon-menu {
      display: flex;
      inline-size: 2.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
   }
   
   .icon-menu span {
      margin-block: 0.375rem;
   }
   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after{
      content: "";
      height: 0.125rem;
      width: 100%;
      background-color: var(--colorPrimary500);
      transition: all 0.3s;
   }
   .menu__body {
      position: fixed;
      inset-inline-start: 100%;
      inset-block-start: 0;
      inline-size: 100%;
      block-size: 100%;
      z-index: 2;
      transition: inset-inline-start 0.3s;
      overflow: auto;
      /* padding: 100px 15px 30px; */
      padding: 6.25rem 0.9375rem 1.875rem;
      background-color:var(--colorPrimaryHover);
   }
   .menu__body::before {
      content: "";
      position: fixed;
      block-size: 3.75rem;
      inline-size: 100%;
      inset-inline-start: 100%;
      inset-block-start: 0;
      z-index: 3;
      transition: insert-inline-start 0.3s;
   }
   .menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 1.5625rem;
      padding-block: 1.5625rem;
   }
   .menu__link {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 0;
      color: var(--colorWhite);
   }

   .open-menu body {
      overflow: hidden;
   }
   .open-menu .menu__body,
   .open-menu .menu__body::before {
      inset-inline-start: 0;
   }
   
   .open-menu .icon-menu span {
      width: 0;
      height: 0;
      margin: 0;
   }
   .open-menu .icon-menu::before {
      transform: rotate(45deg) translateY(1.5px);
   }
   .open-menu .icon-menu::after {
      transform: rotate(-45deg) translateY(-1.5px);
   }
   .open-menu .icon-menu span,
   .open-menu .icon-menu::before,
   .open-menu .icon-menu::after{
      background-color: var(--colorWhite);
   }
   .open-menu .logo-header__name {
      color: var(--colorWhite);
      transition: all 0.3s;
   }
   }
   /* -------------------------------------------- */   
   
   @media (any-hover: hover) {
      .header__logo:hover,
      .header__logo span:hover {
         color: var(--colorPrimaryHover);
         transition: all  0.5s;
         /* padding-inline: 10px; */
      }
      .header__logo:hover::before {
         background-color: var(--colorPrimaryHover);
         transition: all  0.5s;
      }
      
      .menu__link:hover {
         color: var(--colorPrimaryHover);
         font-weight: 500;
         transition: font-weight 0.3s;
      }
      .menu__link:hover::after {
         width: 100%;
      }

   }
/* -------------------------------------------- */
@media (min-width: 48rem) {
   .header {
      left: 0;
      width: 100%;
   }

   .header__button {
      min-width: 6.25rem;
   }

   .icon-menu {
      display: none;
   }
   .header__container {
      padding-block: 1.25rem;
      display: grid;
      grid-template-columns: 2fr auto auto;
      column-gap: 0.0625rem;
      justify-content: space-between;
      grid-template-areas: "logo menu actions";
   }
   .header__logo {
      grid-area: logo;
      justify-self: start;
   }
   .header__menu {
      grid-area: menu;
      justify-self: end;
      background-color: var(--colorWhite);
   }      

   .header__actions {
      grid-area: actions;
      justify-self: end;
   }
/* ------------menu------------------ */
   .menu {
   }
   .menu__body {
      padding-block: 0.75rem;
   padding-inline-end: 1.125rem;
   }
   .menu__list {
      display: flex;
      flex-wrap: wrap;
      /* column-gap: value(8px - 48px); vieport(760 - 1320); */
      column-gap: clamp(0.5rem, -2.893rem + 7.14vw, 3rem);
      row-gap: 0.1875rem;
      justify-content: space-between;
   }
   .menu__item {
      text-align: center;
   }
   .menu__item.item-none {
      display: none;
   }

   .menu__link {
      position: relative;
      color: var(--colorDark);
      line-height: 1;
      padding-block: 0.75rem; /* 1.5rem */
      align-items: center;
      font-weight: 500;
      transition: 
         background-color 0.3s,
         color 0.3s;
   }
   .menu__link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 0.125rem;
      color: var(--colorPrimaryHover);
      background-color: var(--colorPrimaryHover);
      transition: width 0.3s ease;
   }
}

/* ------------------footer----------------- */
.footer {
   padding-block: 32px 32px;
   background-color: var(---colorGray800)
   z-index: 2;
} 
.footer__container {
}
.footer__top {
   text-align: center;
   margin-block-end: 20px;
}
.footer__copyright {
   color: #939EA4;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7;
   
	/* justify-self: center; */
   /* align-self: center; */
}
.footer__logo {
   color: #37447E;
	font-size: 26px;
	font-weight: 900;
	line-height: 1.5;
}
.footer__botton{
   font-size: 12px;
}


.footer__body {
   display: flex;
   flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}
.menu-footer__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 5px;
}
.menu-footer__link {
   position: relative;
	color: #929ECC;
	font-size: 14px;
	line-height: 1.7;
   align-items: center;
   transition: 
      background-color 0.3s,
      color 0.3s;
}
.menu-footer__link::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0%;
   height: 1px;
   background-color: #111847;
   transition: width 0.3s ease;
}
/* ---------------------------------- */

.footer__socials {
}
.menu-social__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 5px;
   align-items: center;
   justify-content: center;
}

.menu-social__link {
   position: relative;
   border-radius: 50%;
   /* border: 1px solid rgb(34, 12, 87); */
   width: 30px;
   height: 30px;
   padding: 7px;
   transition: all 0.3s;
}
.menu-social__image {
   width: 16px;
   height: 16px;
   transition: all 0.3s;

}
.menu-social__image img {
   aspect-ratio: 1;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
@media (any-hover: hover){
   .footer__logo:hover {
      color: #000;
      transition: all  0.5s;
      padding-inline: 10px;
   }
	.menu-footer__link:hover{
		color: #091133;
      transition: font-weight 0.3s;
	}
   .menu-footer__link:hover::after {
      width: 100%;
   }
   .menu-social__link:hover{
      /* box-shadow: 0px 0px 15px #15215639; */
      border-radius: 50%;
      background-color:  #505e98e3;
      border: 1px solid #505e98e3;
      transition: all 0.5s;
   }
}

@media (min-width: 2480px) {
   .footer__top {
      display: grid;      
      grid-template-columns: 1fr auto 1fr;
      justify-items: center;
      column-gap: 15px;
      border-block-end: 1px solid #cdd1d4;
   }
   .footer__copyright {
      justify-self: start;
      align-self: center;
   }
   .footer__logo {
      align-self: center;
   }
   .footer__body {
      flex-direction: row;
   }
   .footer__botton {
      justify-self: end;
      align-self: center;
      width: 109px;
   }
}
@media (min-width: 2768px) {
   .menu-footer__list {
      column-gap: 60px;
   }
   .footer__botton .section-heading__button{
      width: 109px;
      font-size: 12px;
   }
}