/* @import url("https://fonts.googleapis.com/css?family=DM+_Sans:regular,500,600,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,500,600,700,800,900&display=swap");

@import url("fonts.css");
@import url("fonts_kyivtype.css");

@import url("reset.css");
@import url("common.css"); /*в цьому файлі загальні БЕМ блоки*/

/* Основні стилі */
body {
   font-family: "Epilogue", sans-serif;
   font-size: 16px;
   color: #999999;

   background-color: #28293E;
   /* background-color: #141414; */
   /* background-color: #FDF0E9; */
   /* line-height: 1.5; */
}
.wrapper {
   /* min-width: 100%; */
   min-height: 100%;
   overflow: clip; 

   display: flex;
   flex-direction: column;
      /* background-color: #28293E; */
   /* background-color: #eed7d7; */
}
.wrapper > main {
	flex-grow: 1;
}
/* --------------------- */
[class*="__container"] {
	max-width: 1200px;
	padding-inline: 15px;
   margin: 0 auto;
}
/* --------------------- */
.header {
   position: fixed;
	top: 0;
   left: 0;
   width: 100%;
   z-index: 500;
}
.header__container {
   background-color: #28293E;
   display: flex;
   align-items: center;
   min-height: 80px;
   padding-block: 10px;
   gap: 15px;
   justify-content: space-between;
}
.header__logo {
   flex-basis: 152px;
   /* max-width: 100%; */
   position: relative;
   z-index: 5;
   justify-content: space-between;
   color: #ffffff;
   /* border: 1px solid #999999; */
}
.header__logotype {
   position: relative;
   align-items: center;   
   display: flex;
   column-gap: 14px;
   /* flex-shrink: 0; */
}

.header__logo img {
   width: 48px;
   height: 48px;
}
.header__logo span {
   /* padding: 5px 0; */
   font-size: 24px;
   font-weight: 700;
   line-height: 1.33333; /* 133.333% */
}

.header__menu {
   flex-basis: 515px;
}
.menu {
}
.menu__body {
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 10px;
   /* column-gap: 80px; */
   row-gap: 3px;
   /* align-items: center; */
   /* justify-content: center; */
   justify-content: space-between;
}

.menu__item {
}
.menu__item.menu__item--none {
   display: none;
}
.menu__link {
   position: relative;
   color: #ffffff;
   line-height: 2;
   padding: 0 8px;
   align-items: center;

   transition: 
      background-color 0.3s,
      color 0.3s;
}
.menu__link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 1px;
	background-color: #EF6D58;
	transition: width 0.3s ease;
}
.actions-header__item.main-button {
   min-width: 138px;
}
/* ----   any-hover: hover  -----  */
@media (any-hover: hover) {

   .header__logo:hover {
      color: #EF6D58;
      transition: color 0.5s;
      outline: 1px solid #EF6D58;
      outline-offset: 5px;
      border-radius: 6px;
   }
      .menu__link:hover {
      color: #EF6D58;
      /* font-weight: 500; */
      transition: font-weight 0.3s;
      /* text-shadow: 1px 1px 5px #ffffff; */
   }
   .menu__link:hover::after {
      width: 100%;
   }
   .actions-header__item.main-button:hover {
      color: #EF6D58;
      border-color: #ef6d58;
      /* background: #ffffff; */
      /* border: 0.2px solid #EF6D58; */
      /* box-shadow: 1px 2px 5px #a01e38; */
   
      transition: all 0.3s;
   }
}

.menu__link.active{
}
.header__actions {
}
.actions-header {
   position: relative;
   z-index: 5;
   display: flex;
   align-items: center;
   column-gap: 30px;
   row-gap: 3px;
   justify-content: flex-end;
}
.actions-header__item {
}
.actions-header__icon {
}
.icon-menu {
   display: none;
}

/* ------------- */
/* --- main --- */
/* ------------- */

.hero__container {
   padding-block: 178px 56px;
   /* padding-block: 30px; */
}
.hero__body {
}
.hero__body {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 30px;
   column-gap: 30px;
}
.hero__item {
}
.item-page {
   display: flex;
   flex-grow: 1;
   flex-shrink: 1;
   flex-direction: column;
   /* flex: 1 1 360px; */
   /* padding: 5px; */
   border-radius: 10px;
   /* max-height: 646px; */
   /* background-color: #28293E; */
}
.item-page:nth-child(2n+1){
   /* max-width: 513px; */
   padding-block-start: 10px;
   flex: 1 0 43.85%;
}

.item-page:nth-child(2n+2){
   /* max-width: 570px; */
   flex: 1 0 48.72%;
   aspect-ratio: 570 / 602;
   /* max-height: 602px; */
   /* padding-block-end: 44px; */
}
.item-page__image {
   width: 100%;
   object-fit: cover;
   aspect-ratio: 570 / 602;
}
.item-page__image:not(:last-child) {
   padding-bottom: 15px;
}
.block-content__label {
   margin-block-end: 24px;
}
@media (max-width: 1120px) {

   .block-content__title {
      font-size: 68px;
   }
}
@media (max-width: 1070px) {
   .hero__container {
      padding-block: 80px 32px;
      /* padding-block: 30px; */
   }
   .block-content__title {
      font-size: 64px;
   }

   .hero__body {
      justify-content: center;
   }
   /* .item-page:nth-child(2){
      order: 1;
   } */
   /* .item-page:nth-child(1){
      order: 2;
   } */
}

/* ------------------------------- */
/* --- media  max-width: 980px --- */
/* ------------------------------- */

@media (max-width: 980px) {
   .header__container {
      min-height: 80px;
   }
   .menu__link {
      padding: 6px;
   }
   .menu__list {

   }
}
/* --- media  max-width: 920px --- */
@media (max-width: 920px) {
   .block-content__icon {
      display: none;
   }
}
/* --- media  max-width: 768px --- */
@media (max-width: 768px) {
   .hero__body {
		flex-direction: column;
		align-items: center;
	}
   .item-page:nth-child(2){
      max-width: 570px;
      aspect-ratio: 570 / 602;
   }
   .block-content__icon {
      display: block;
   }

}
/* ------------------------------- */
/* --- media  max-width: 720px --- */
/* ------------------------------- */
@media (max-width: 720px) {

   .header__container {
      min-height: 60px;
   }
   .actions-header {
      column-gap: 20px;
   }
   .actions-header__item.main-button {
      padding-block: 13px;
   }
   .icon-menu {
      flex-shrink: 0;
      flex-basis: 48px;
      padding: 12px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
   }

   .icon-menu span {
      margin-block: 6px;
   }
   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after{
      transition: all 0.3s;
      content: "";
      height: 2px;
      width: 100%;
      background-color: #ffffff;
   }
   .menu__body {
      position: fixed;
      inset-inline-start: 100%;
      inset-block-start: 0;
      inline-size: 100%;
      block-size: 100%;
      z-index: 2;
      transition: all 0.3s;
      overflow: auto;
      padding: 80px 15px 30px;
   }
   .menu__body::before {
      content: "";
      position: fixed;
      block-size: 80px;
      inline-size: 100%;
      inset-inline-start: 100%;
      inset-block-start: 0;

      background-color: #28293E;
      z-index: 3;
      transition: all 0.3s;
   }
   .menu__list {
      flex-direction: column;
      border: none;
      /* background-color: transparent; */
      background-color: rgba(239, 109, 88, 0.9);
      font-weight: 700;
      align-items: flex-end;
      row-gap: 25px;
   }
   .menu__link {
      font-size: 24px;
      padding: 0;
   }
   .menu__link.active {
      text-decoration: underline;
      background-color: transparent;
   }
   .open-menu .icon-menu {
      /* width: 48px;
      height: 48px; */
      border: none;
   }
   .open-menu body {
      overflow: hidden;
   }
   .open-menu .block-content__icon--rotate {
      animation: forwards;
   }

   .open-menu .menu__body,
   .open-menu .menu__body::before {
      inset-inline-start: 0;
   }
   .open-menu .icon-menu span {
      width: 0;
      height: 0;
      margin: 0;
   }
   .open-menu .icon-menu::before {
      transform: rotate(45deg) translateY(1.5px);
   }
   .open-menu .icon-menu::after {
      transform: rotate(-45deg) translateY(-1.5px);
   }

   .block-content__title {
      font-size: 60px;
      font-weight: 700;
   }
}
/* ------------------------------- */
/* --- media  max-width: 480px --- */
/* ------------------------------- */
@media (max-width: 480px) {
   .header__container {
      min-height: 50px;
   }
   .actions-header {
      column-gap: 20px;
   }
   .block-content {
      max-width: 380px;
   }
   .block-content__icon {
      display: none;
   }
   .block-content__title {
      font-size: 56px;
      font-weight: 700;
      letter-spacing: -1px;
   }
}
/* ------------------------------- */
/* --- media  max-width: 380px --- */
/* ------------------------------- */
@media (max-width: 399px) {
   
   .actions-header__item.main-button {
      display: none;
   }
   .menu__item.menu__item--none {
      display: flex;
      text-transform: uppercase;
   }
}
/* ------------------------------- */
/* --- media  min-width: 720px --- */
/* ------------------------------- */
@media (min-width: 720px) {
   .actions-header {
      flex-basis: 152px;
   }
}

/* ---------------- */

.footer {
   /* background-color: #FDF0E9; */
   font-size: 20px;
}