/* тут загальні компоненти, бем блоки, заголовки, кнопки */

/*=============*/

/* верхня частина секції з заголовком */
.section-heading {
}
.section-heading__label {
   color: #ef6d58;
   line-height: 2;
   letter-spacing: 3px;
   text-transform: uppercase;
   margin-bottom: 20px;
}
.section-heading__title {
   font-size: 56px;
   font-weight: 800;
   line-height: 1.14;
   letter-spacing: -1px;
}
.section-heading__title:not(:last-child) {
   margin-bottom: 36px;
}
/*=============*/

/* кнопка */
.main-button {
   position: relative;
   width: fit-content;
   display: block;
   padding: 18px 30px 16px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 6px;
   font-weight: 900;
   line-height: 1;
   text-transform: uppercase;
   overflow: hidden;
}

.main-button--header {
   transition: all 0.3s;
   color: #ffffff;
}

.main-button--secondary {
   background-color: #ef6d58;
}
.main-button span {
   position: relative;
   z-index: 2;
}
.main-button::before {
   content: "";
   position: absolute;
   top: 0;
   left: -35%;
   width: 30%;
   height: 200%;
   background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.6));
   transform: skew(-30deg) translate(-100%, -25%);
   will-change: left;
}
.main-button:hover::before {
   left: 150%;
   transition: left 1s;
}
.main-button--center {
   margin: 0 auto;
}
/*============*/

.btn {
   /* text-align: center; */
}
.btn__link {
   text-align: center;
   border-radius: 6px;
   border: 1px solid #ffffff4d;
   padding: 18px 30px;
   font-size: 14px;
   font-weight: 900;
   text-transform: uppercase;
   transition: all 0.3s;
}
.btn:hover {
   color: #ef6d58;
}

/*============*/

.block-content {
   position: relative;
}
.block-content__icon {
   width: 148px;
   height: 148px;
   position: absolute;
   top: 22px;
   left: 278px;
   z-index: -1;
}
.block-content__icon--rotate {
   animation: rotate-element 30s linear infinite;
}
@keyframes rotate-element {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

@keyframes color-element {
   0% {
      color: #ef6d58;
   }
   50% {
      color: #c17b74;
   }
   100% {
      color: #6a6c8e;
   }
}

.block-content__label {
   color: #ef6d58;
   font-size: 16px;
   position: relative;
   line-height: 2; /* 200% */
   letter-spacing: 3px;
   text-transform: uppercase;
}

.block-content__title {
   color: #ffffff;
   font-size: 72px;
   font-weight: 800;
   line-height: 1.11111;
   letter-spacing: -2px;
}
.block-content__label--center,
.block-content__title--center {
   /* justify-content: center; */
}
.block-content__name {
   font-size: 20px;
   font-weight: 400;
   line-height: 1.6;
}
.block-content__text {
   max-width: 470px;
   height: 66px;
   font-size: 16px;
   line-height: 2;
   color: rgba(255, 255, 255, 0.64);
}

.block-content__button {
   display: inline-block;
   position: relative;
   width: fit-content;
   border-radius: 6px;
   border: 1px solid #ffffff4d;
   color: #fff;
   padding: 15px 32px;
   text-align: center;
   font-size: 14px;
   font-weight: 900;
   text-transform: uppercase;
   transition: all 0.3s;
}

.block-content__button--secondary {
   background-color: #ef6d58;
}
.block-content__link {
   line-height: 2;
   position: relative;
   color: #ffffff;
   line-height: 2;
   padding: 0 8px;
   align-items: center;

   transition:
      background-color 0.3s,
      color 0.3s;
}
.block-content__link::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0%;
   height: 1px;
   background-color: #ef6d58;
   transition: width 0.3s ease;
}

@media (any-hover: hover) {
   .block-content__button:hover {
      color: #ef6d58;
      background: #ffffff;
      border: 0.2px solid #ef6d58;
      box-shadow: 1px 2px 5px #a01e38;
   }

   .block-content__link:hover {
      color: #ef6d58;
      transition: font-weight 0.3s;
   }
   .block-content__link:hover::after {
      width: 100%;
   }
}
.block-content__actions {
   margin-block-end: 108px;
}
.block-content__actions--flex {
   display: flex;
   column-gap: 46px;
   align-items: center;
}
.block-content__more--flex {
   display: flex;
   column-gap: 16px;
   align-items: start;
}
.more-block {
   position: relative;
}
.more-block__picture {
   max-width: 48px;
   max-height: 48px;
}
.more-block__img {
   width: 100%;
   height: 100%;
}
.more-block__content {
   position: relative;
}
.more-block__text {
   color: rgba(255, 255, 255, 0.64);
   line-height: 2;
}
.more-block__text--hero {
}
.more-block__info {
   position: relative;
   line-height: 2;
   top: -4px;
   left: 6px;
   color: #ffffff;
}
.more-block__info--hero {
}

/* ---------------- */
/* block */
